.wrapper > header{
    text-align: left;
}

.header{
    margin: 5px 0;
}

.header-icon{
    font-size: 14px;
    margin: 0 2px;
}

.container {
    display: flex;
    justify-content: space-between;
}

//content left
.content-left {
    width: 270px;
    background-color: bisque;
}

.content-left-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 0;

    span {
        margin-left: 5px;
        text-align: left;
    }
}

td {
    float: left;
}


.menu-list {
    list-style-type: none;

    li {
        text-align: left;
        margin-left: 20px;
    }
}

.price, .age {
    margin: 0 14px;
    padding: 14px 0;
    text-align: left;
    border-top: 1px solid #ccc;
}

.content-left-footer{
    margin: 0 10px;
    border-top: 1px solid #ccc;
    height: 30px;
}

tr{
    margin-left: 5px;
}

td{
    margin: 0 5px;
}

// content right
.content-right {
    width: 920px;
    background-color: white;
}

.content-right-header {
    text-align: left;
    margin:20px 0 20px 10px;

    select{
        padding: 5px;
        border-radius: 4px;
        margin-left: 4px;
    }
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-right-footer{
    padding: 18px 0;
}

.number-page{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 4px;
    background-color: white;

    &:hover{
        background-color: #fcdab0;
    }
}

.active{
    background-color: #C92127;
    color: white;
}