.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
}

.inner {
    width: 1263px;
    display: flex;
    align-items: center;
}

.logo {
    width: 216px;
    margin: 0 38px 0 0;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;

    span{
        font-size: 20px;
        font-weight: 600px;
    }
}

.logo-img{
    width: 40px;
    height: 40px;
}

.menu {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    color: #7a7e7f;
}

.search {
    height: 40px;
    width: calc(100% - 619px);
    display: flex;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    align-items: center;

    button {
        width: 72px;
        border: none;
        border-radius: 10px;
        height: 30px;
        margin-right: 5px;
        background-color: #c92127;
        color: white;
        cursor: pointer;
    }
}

.search-input {
    padding-left: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
}

.search-result {
    width: calc(1263px - 619px);
    background-color: white;
}

.search-result-icon{
    margin: 0 5px;
}

.search-result1-menu{
    display: flex;
    flex-wrap: wrap;
}

.search-result1-item{
    width: calc((100% - 30px) / 3);
    background-color: red;
    height: 60px;
    margin: 5px 5px;
}

.search-result2-menu{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.search-result2-item{
    width: calc((100% - 10px) / 4);
    height: 80px;
    background-color: red;
    margin: 0 5px;
}

.action {
    display: flex;
    justify-content: center;
}

///cart guest
.cart-guest{
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgba(122, 126, 127, 0.5);

    span{
        margin-bottom: 20px;
        font-size: 12px;
    }
}

.cart-guest-icon{
    width: 48px;
    height: 48px;
    margin: 20px 0 5px 0;
}

.common-header {
    width: 60px;
    height: 60px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    cursor: pointer;
    color: #7a7e7f;

    span {
        margin-top: 4px;
        font-size: 1.22rem;
        font-weight: 500;
        color: black;
    }
}


.icon-size{
    height: 20px;
    width: 20px;
}

.account-btn {
    width: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgba(122, 126, 127, 0.5);
    font-size: 12px;
}

.btn {
    width: 90%;
    margin: 4px 0;
    height: 34px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login {
    background-color: red;
    color: white;
    font-weight: 500;
    border: none;

    &:hover {
        font-weight: 600;
    }
}

.btn-register {
    background-color: white;
    color: red;
    font-weight: 500;
    border-color: red;

    &:hover {
        font-weight: 600;
    }
}

.notification-display {
    width: 200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgba(122, 126, 127, 0.5);
}

.notification-header {
    padding: 10px 0 10px 10px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: 400;

    span{
        margin-left: 3px;
    }
}

.notification-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0 15px 0;

    .notification-body-icon {
        padding: 5px;
        width: 50px;
        height: 50px;
        color: white;
        background-color: #ccc;
        border-radius: 50%;
    }

    span {
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 10px;
        width: 80%;
    }
}

.notification-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.form-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.2);;
    display: none;
    align-items: center;
    justify-content: center;
}

.disable{
    display: none;
}

// USER LOGIN
//account
.account-logined{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    border-radius: 6px;
    box-shadow: 1px 2px 2px rgba(122, 126, 127, 0.5);
}

.account-logined-wrapper{
    width: 100%;
}

.account-logined-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;

    &:hover{
        background-color: #ccc;
    }
}

.header-left-icon{
    width: 40px;
    height: 40px;
    color: burlywood;
    margin: 0 10px;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;

    h5{
        font-weight: 400;
    }
}

.header-right{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.account-logined-item-wrapper{
    border-bottom: 1px solid #ccc;
    cursor: pointer;

}

.account-logined-item{
    display: flex;
    align-items: center;
    padding: 10px 0 8px 14px;
    border: none;
    background-color: white;
    width: 100%;

    &:hover{
        background-color: #ccc;
    }
    .account-logined-item-icon{
        margin: 0 8px;
        width: 18px;
        height: 18px;
    }
}

//ghi de
.no-border{
    border-bottom: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-bottom: 1px;
}

.no-margin-right{
    margin-right: 0;
}

//thong bao
.notification-display-user{
    width: 260px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(122, 126, 127, 0.5);
    border-radius: 4px;
}

.notification-display-user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;


    h5{
        font-size: 1.5rem;
    }
    span{
        font-size: 1.2rem;
        margin-right: 8px;
        cursor: pointer;
    }
}

.user-header-right{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-header-right-icon{
        margin-right: 4px;
        width: 14px;
        height: 14px;
    }
}