footer {
    width: 100%;
}

.footer-contain-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.announce-subcribe-left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}

.announce-subcribe {
    background-color: #9fa7ab;
    border-bottom: 1px solid gray;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 14px 25px;
}

.announce-subcribe-title {
    font-weight: normal;
    margin: 14px 0 3px 0;
    color: #fff;
    // font-family: 'oswaldbook';
    text-transform: uppercase;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: 500;
}

.announce-subcribe-input {
    height: 40px;
    min-width: 35rem;
    padding: 15px;
    font-size: 12px;
    width: 70%;
    border-radius: 6px;
    border: none;
}

.announce-subcribe-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.announce-subcribe-btn {
    text-transform: none;
    border: 1px solid #f7941e;
    text-align: center;
    padding: 10px 30px;
    background: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #f7941e;
    border-radius: 6px;
    margin-left: 12px;
    height: 40px;
}

.footer-content {
    margin-top: 40px;
}

.footer-content-main {
}

.content-part-1 {
    border-right: 1px solid #cecece;
    height: fit-content;
    padding-right: 15px;
}

.footer-content-intro {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0px;
    text-align: left;
    margin-left: 10px;
}

.certificate-img > img {
    width: 50%;
}

.footer-social {
}

.social-list {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.social {
    font-size: 30px;
    color: #646464;
    margin-right: 20px;
}

.content-part-2 {
    padding: 0 40px;
}

.footer-info {
    padding: 0 30px;
}

.info-part-content {
    padding: 0 15px;
}

.info-title {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.info-list {
    list-style-type: none;
    padding-left: 0;
}

.info-detail > a {
    text-decoration: none;
    transition: all 300ms ease-in 0s;
    border-color: gray;
    color: black;
    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
}

.info-detail > a:hover {
    color: #ea7696;
    right: 13px;
}


.footer-contact{
    padding: 15px 30px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.contact-list{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.contact-detail-info{
    margin-left: 10px;
}

.footer-delivery-img, .footer-transition-img{
    display: flex;
    align-items: center;
}

.delivery-img > img{
    width: 80%;
}

.transition-img > img {
    width: 60%;
}

.moca-img{
    width: 50%;
}

.momo-img > img{
    width: 30% !important;
}

.footer-content-bottom{
    color: #adadad;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 25px;
}


