.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 1263px;
    height: 500px;
    background-color: #ccc;
    text-align: center;
}